
div.nameanimation{
    background-image: url('../wowbanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 160px;
    background-color: rgba(25, 25, 25, 0.466);
    box-shadow: inset 0 10px 10px -10px black;
    box-shadow: 0 10px 10px -10px rgba(25, 25, 25, 0.6) ;
    z-index: 2;
    /*box-shadow: 0 0 10px 15px rgb(25,25,25);*/
    
}

h1.name{
    z-index: 3;
    overflow: hidden;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 5px 15px black;
    z-index: 3;
    line-height: 160px;
    font-size: 6.5em;
    font-weight:900;
    letter-spacing: .15em;
    margin: 0 auto;
    border-right: .15em solid white;
    animation: 
    typing 6s steps(90, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .pcontent{
    text-align: center;
    width:inherit;
  }
  .titlecontent{
    width:inherit;
    text-align: center;
    overflow-x: wrap;
  }
  h2{
    text-align: center;
  }
  .leftmenu{
    position: relative;
    overflow: auto;
    box-shadow: inset 0 10px 10px -10px rgba(25, 25, 25, 0.6) ;
    left:0;
    z-index: 1;
    width:15%;
    background-color: #E7E9EB;
    overflow-x: hidden;
    box-sizing: inherit;
  }
  @media (max-width: 1000px) {
    .leftmenu {
      display: none;
      width: 0px;
    }
    .playerdata{
      margin-left: 0 !important;
      margin-right:0 !important;
    }
  }
  .leftmenuinner{
    overflow: auto;
    position:fixed !important;
    background-color: transparent;
    margin: 0px;
    top:0px;
    width:15%;
    height:100%;
  }
  .leftmenuinnerinner{
    overflow: auto;
    box-shadow: inset 0 10px 10px -10px rgba(25, 25, 25, 0.6) ;
    height: 100%;
    background-color: #E7E9EB;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .playerdata{
    margin-left: 15%;
    box-shadow: inset 0 10px 10px -10px rgba(25, 25, 25, 0.6) ;
    box-sizing: inherit;
  }
  .leftmenuheader{
    display: block;
    width:200px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    color: #000;
  }

  p{
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: large;
  }
  .left:hover{
    cursor: pointer;
    /*background-color: rgb(170, 169, 169);*/
  }
