.loginpagecontainer{
    position: fixed;
    background: linear-gradient(
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.4)), 
    url('../worldofwarshipsbackgroundimage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px); 
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}
.loginbox{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
    height:300px;
    margin: auto auto;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
}
h1{
    font-size:x-large;
    color: white;
    opacity: 100%;
    text-shadow: 4px 4px 10px black;
}
p{
    font-size:x-large;
    color: white;
    opacity: 100%;
    text-shadow: 4px 4px 10px black;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    font-size: 1.5em;
}
.button{
    top:5%;
}