
.background{
    background-image: url('Georgia.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px); 
    height: 100vh;
	width: 100%;
}
div.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -70%);

}
h1.title{
    background-color: transparent;
    position: relative;
    font-size: 500%;
    font-weight: bolder;
    margin: auto;
    text-shadow: 0 2px 3px black;
    outline: black;
    font-family: Helvetica, Arial, sans-serif;
    color: blanchedalmond;
}
input.name{
    width:100%;
    resize: vertical;
    font-size: 2em;
    padding:15px;
    border-radius:15px;
    height:50px;
    position: relative;
}
